<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/Node-course/web-server/public/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4"> {{errorMessage}}</h1>
        </div>
        </div>
        {{>footer}}
    </body>
</html>